node_modules
dist
dist-electron
release
*.code-workspace
*.log
gpt_image/
public/audio/bgm/**
public/audio/se/**
public/audio/voice/**
public/picture/chara/**
assets/audio/bgm/**
assets/audio/se/**
assets/audio/voice/**/*.wav
assets/picture/chara/**
